body {
    text-align: justify;
    background-color: #000;
    color: #f5deb3;
  }
  
  header {
    font-weight: bold;
    font-size: 40px;
    color: darkmagenta;
    background-color: #202020;
    font-family: 'Times New Roman', Times, serif;
    word-spacing: 0.02cm;
    line-height: 3cm;
    text-align: center;
  }
  
  img {
    mix-blend-mode: multiply;
    background-color: darkmagenta;
  }
  
  h1 {
    text-align: center;
    outline-color: darkmagenta;
  }
  
  h2 {
    text-align: left; 
    font-size: 25px;
  }
  
  h2 p {
    text-align: right;
    font-size: 25px;
    line-height: 1.5; 
  }


  a {
    text-decoration: none;
    color: plum;
  }
  
  a:hover {
    color: #fff; 
  }
  
  nav {
    display: grid;
    /* grid-template-columns: 1fr auto; */
    /* justify-items: start; */
    font-size: 20px;
    font-style: italic;
    background-color: #000; 
    color: darkmagenta;
    line-height: 200%;
    /* margin-right:10%; */
  }
  
  nav ul {
    list-style: none;
    flex-direction: column;
    margin: 0;
    padding: 10px;
    display: flex;
    margin-right: 30px;
    justify-content: start;
  }
  
  nav li {
    padding-top: 10px;
    margin-right: 10px;
    padding-right: 100px;
  }
  
  nav a {
    color: plum;
  }
  
  nav a:hover {
    color: #fff; 
  }

  aside h2 {
    padding: 20px;
    margin-top: 2px;
    margin-left: 50px;
    font-size: 25px;
    font-style: normal;
    text-align: right;
  }
  
  aside p {
    margin-top: 20px;
    right: 5%;
    left: 75%;
    text-align: right;
    font-size: 15px;
    font-style: normal;
  }
  
  footer {
    background-color: #000; 
    color: #fff; 
    padding: 10px;
    text-align: center;
  }
  
  footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  footer li {
    margin-right: 20px;
  }
  
  footer a {
    color: #fff; 
  }
  
  footer a:hover {
    color: plum; 
  }
  

  section {
    display: inline-block;
    align-content: left;
    background-color: #000; 
    padding: 20px;
    text-align: justify;
    color: #f5deb3; 
  }
  
  article {
    position: relative; 
    display: inline-block;
    align-content: justify;
    background-color: #000; 
    padding-left: 180px;
    padding-right: 200px;
    text-align: justify;
    color: #f5deb3; 
  }